@model DemoCharts.Models.Capacite

@{
    ViewBag.Title = "Home Page";
}

<div class="page">
    <div class="page-header">

    </div>

    <div class="page-content container-fluid">
        <!-- Panel Gauge -->
        <div class="panel">

            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-md-6">

                        <!-- Example Gauge Basic -->
                        <div class="example-wrap">
                            <div class="example">

                                <div class="gauge" id="disk" data-plugin="gauge" data-value="result" data-max-value="900">
                                    <canvas width="200" height="150"></canvas>
                                    <p class="text-uppercase" ><span id="resultValue2"></span><strong><br />Disk Utilization (SNMP)</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Gauge Basic -->
                    </div>

                    <div class="col-md-6">
                        <!-- Example Gauge Dynamic -->
                        <div class="example-wrap">
                            <div class="example">

                                <div class="gauge" id="CPUValue" data-plugin="gauge" data-value="result" data-max-value="900">
                                    <canvas width="200" height="150"></canvas>
                                    <p class="text-uppercase"><span id="resultValue"></span><span id="resultValue"></span><strong><br />CPU Utilization (SNMP)</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Gauge Dynamic -->
                    </div>
                </div>


                <div class="col-md-6">
                    <!-- Example Gauge Sizing -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="gauge" id="memory" data-plugin="gauge" data-value="result" data-max-value="900">
                                <canvas width="200" height="150"></canvas>
                                <p class="text-uppercase"><span id="resultValue1"></span>%<strong><br />Memory Utilization (SNMP)</strong></p>
                            </div>
                        </div>

                        @*<div class="col-md-4">
                                <div class="gauge" data-plugin="gauge" data-value="@Model." data-max-value="@Model.">
                                    <canvas width="200" height="150"></canvas>
                                    <p class="text-uppercase">11%<br />CPU Utilization(ViWeb)</p>
                                </div>
                            </div>*@


                    </div>
                </div>
                <!-- End Example Gauge Sizing -->
            </div>
        </div>
        <!-- End Panel Gauge -->
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>




    let result = 0;
    function getCPUValue() {
        
        $.ajax({
           
            url: "http://localhost:8081/cpu/Cpuvalue",
            type: "GET",
            success: function (val) {
                result = val;
                console.log(val);
                document.getElementById('CPUValue').setAttribute("data-value", result); // change la valeur de data-value automatiquement
                document.getElementById('resultValue').innerHTML = result; // change la valeur de data-value automatiquement
            },
            error: function (err) {
                console.log(err);
            }
        });
        setTimeout(getCPUValue, 5000);
    }


    getCPUValue();


    function getMemValue() {
        $.ajax({
            url: "http://localhost:8081/mem/Memvalue",
            type: "GET",
            success: function (val) {
              
                result = val;
                 console.log(result);
                document.getElementById('memory').setAttribute("data-value", result); 
                document.getElementById('resultValue1').innerHTML = result;
            },
            error: function (err) {
                console.log(err);
            }
        });
        setTimeout(getMemValue, 5000);
    }

    getMemValue();


    function getSpaceValue() {
        $.ajax({
            url: "http://localhost:8081/disk/Spacevalue",
            type: "GET",
            success: function (val) {
               
                result = val;
                 console.log(result);
                document.getElementById('disk').setAttribute("data-value", result);
                document.getElementById('resultValue2').innerHTML = result;
            },
            error: function (err) {
                alert(err);
            }
        });
        setTimeout(getSpaceValue, 5000);
    }

    getSpaceValue();

</script>