<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="2.2.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.50.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.50.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.50.0" targetFramework="net472" />
  <package id="Google.Apis.ServiceUsage.v1beta1" version="1.50.0.2238" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.13.0" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.2" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.ResourceManager" version="3.10.0-preview" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenShare.Net.Library.Threading" version="1.0.17061.01" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net472" />
  <package id="Unity.SelfHostWebApiOwin" version="1.0.15" targetFramework="net472" />
</packages>